<%- include('partials/header'); -%>

<section style="height: 89vh; background-color: #1e252b">
  <div
    style="
      display: flex;
      background-color: #1e252b;
      justify-content: space-between;
      flex-direction: row;
    "
  >
    <div
      class="col-md-6 bg-dark"
      style="padding: 130px; color: beige; background-color: #1e252b !important"
    >
      <h1 style="font-size: 52px">We are<br />event creators</h1>
      <br />
      <h5
        style="
          color: whitesmoke;
          font-size: 26px;
          margin-top: 10px;
          opacity: 60%;
        "
      >
        Organize your events,<br />
        Manage your events
      </h5>

      <button
        type="button"
        style="margin-top: 50px; background-color: #ff6e30"
        class="btn btn-lg"
      >
        <a style="text-decoration: none; color: white" href="/getin"
          >Get Started</a
        >
      </button>
    </div>

    <div
      class="col-md-6 pt-4"
      style="background-color: #1e252b; margin-top: 70px"
    >
      <img src="/assests/event.svg" style="width: 80%" alt="" srcset="" />
    </div>
  </div>
</section>

<%- include('partials/footer'); -%>
