/* font-section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* main text section */
#main-text {
  color: white;
  background-image: linear-gradient(to bottom right, #24292ede, #1e252b);
  background-color: #1e252b;

  height: 500px;
  text-align: center;
  padding: 5%;
}

.opacity {
  opacity: 80%;
}

/* custom-button */
.custom-btn {
  color: white;
  background-image: linear-gradient(to bottom left, #ff8b59, #ff6e30);
}
.custom-btn:hover {
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.custom-table {
  margin-top: 5%;
  text-align: center;
}
.custom-card {
  width: 1000px;
  justify-content: center;
  text-align: center;
  margin: 5%;
  padding: 5%;
  /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.394); */
  border-radius: 1%;
}

.fileupload {
  background-color: #ff6e30;
  color: white;
  font-family: "Poppins", sans-serif;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: none;
  /* display: inline-block; */
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 2.5%;
  color: white;
  background-image: linear-gradient(to bottom right, #24292ede, #1e252b);
}
.custom-file-upload:hover {
  border: none;
  /* display: inline-block; */
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 2.5%;
  color: white;
  background-image: linear-gradient(to bottom right, #24292ede, #1e252b);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
